/* ===== CSS VARIABLES ===== */
:root {
    --dark-color: #111828;
    --light-color: #e2e8f0;
}

/* ===== HTML STYLING ===== */
::selection {
    background-color: var(--dark-color);
    color: var(--light-color);
}

html {
    min-height: fit-content;
    min-width: fit-content;
    background-color: var(--dark-color);
}

body,
body *,
nav,
nav * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    line-height: 1.25;
    font-family: "Roboto Local";
    font-feature-settings:
        "liga" 0,
        "clig" 0,
        "kern" 0;
    /*outline: 1px solid orangered;*/
}

body {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5mm;
    gap: 5mm;
}

nav {
    position: absolute;
    flex-direction: row;
    width: 21cm;
    max-width: none;
    min-width: 21cm;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2mm;
}

button {
    padding: 2mm;
    border: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 3px;
    transition: 0.2s ease;
}

nav a:first-of-type button {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

nav a:last-of-type button {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

button:hover {
    opacity: 0.8;
}

main {
    height: fit-content;
    width: fit-content;
    justify-content: flex-start;
    overflow: visible;
    gap: 5mm;
}

section {
    gap: 1mm;
}

article,
ul {
    gap: 0.5mm;
}

div {
    width: 21cm;
    max-width: none;
    min-width: 21cm;
    height: auto;
    max-height: none;
    min-height: 29.7cm;
    justify-content: flex-start;
    border-radius: 16px;
    padding: 10mm;
    background-color: var(--light-color);
    gap: 2mm;
    margin: 0 auto;
}

header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2mm;
}

span {
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 2mm;
}

ul {
    padding-left: 3mm;
}

li {
    display: list-item;
}

a {
    width: fit-content;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 1mm;
    white-space: nowrap;
}

h1,
h2 {
    text-align: center;
}

h3 {
    align-items: flex-start;
    border-bottom: solid 1px var(--dark-color);
}

h4,
small,
strong,
label {
    width: fit-content;
}

p {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1mm;
}

h1 {
    font-size: 25pt;
}

h3 {
    font-size: 14pt;
}

h2,
h4 {
    font-size: 10pt;
}

p,
a,
li,
span,
strong,
label {
    font-size: 9pt;
}

small {
    font-size: 8pt;
}

p,
li {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

h1,
strong,
button {
    font-weight: 700;
}

img {
    width: 1lh;
    height: 1lh;
}

/* ===== PDF STYLING ===== */
@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }

    :root {
        --dark-color: #000000;
        --light-color: #ffffff;
    }

    body {
        margin: 0;
        padding: 0;
    }

    nav {
        display: none;
    }

    main {
        gap: 0;
    }

    div {
        border-radius: 0;
    }
}
