/* ===== FONTS ===== */
@font-face {
    font-family: "Roboto Local";
    src: url("../fonts/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: block;
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: "Roboto Local";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
    unicode-range: U+0020-007F, U+00A9;
}

@font-face {
    font-family: "Roboto Local";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
    unicode-range: U+0020-007F;
}
